.header{
    color: blue;
    background-color: darkorange;
    font-size: 40px;
    padding: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-weight: bold;
    height: 50px;
    border-radius: 2px;
}
.Form{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    /* height: 200px; */
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.input1{
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
}
.input1:focus{
    outline: none;
}
.button1{
    display: inline-block;
    border: none;
    border-radius: 8px;
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 12px 20px;
    font-size: medium;

}
.inputcontainer{
    display: flex;
}

.item{
    width: 500px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin: 0 auto;
   
    
}
.itemname{
    font-weight: bold;
    padding: 20px;
}
.todobox{
    /* border: 0 2px 6px rgba(0, 0, 0, 0.1); */
    background-color: white;
    border-radius: 16px;
    box-shadow:  0 2px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    
}
.button2{
    float: right;
    border-radius: 100px;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px 12px;
    border: none;

}
.marked{
    text-decoration: line-through;
}